
.custom-select__lable {
  left: 16px;
  pointer-events: none;
  position: absolute;
  top: 5px;
  z-index: 1;
  font-size: 12px;
  line-height: 14px;
  color: #777777;
}

.custom-select .custom-select__control {
  padding: 5px 14px;
}

.custom-select  .custom-select__value {
  padding-top: 13px;
  padding-left: 0;
}

.custom-select .custom-select__control--value {
  padding-bottom: 0px;
}


.custom-select .custom-select__selected {
  color: #181871;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-select .custom-select__hover {
  background-color: #fff;
  color: #181871;
}

.custom-select .custom-select__selected::after {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url('./ok.svg');
}