
.humidity-table {
  table-layout: fixed;
  width: 100%;
  /* border-collapse: collapse; */
  border: 1px solid #E7E7E7;
  border-radius: 6px;

  width: 506px;
  border-spacing: 0;
}

.humidity-table__cell {
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  text-align: center;
}

.humidity-table__cell {
  padding: 5px 12px;
}

.humidity-table__body .humidity-table__cell:first-child {
  text-align: left;
}

.humidity-table__body tr:last-child .humidity-table__cell {
  border-bottom: none;
}